@{
  Layout = "_Layout";
}
@using Bakery.Models;

<div class="container">
<h2>Order Details:</h2>
<ol>
  <p>Vendor: @Model["vendor"].VendorName</p>
  <p>Order Title: @Model["order"].OrderTitle</p>
  <p>Order Description: @Model["order"].OrderDescription</p>
  <p>Order Price: $ @Model["order"].OrderPrice</p>
  <p>Order Date: @Model["order"].OrderDate</p>
</ol>

<p><a href='/vendors/@Model["vendor"].VendorId/orders/new'>Add a new Order</a></p> 
<p><a href="/vendors">Vendors Page</a></p>
<p><a href="/">Return Home</a></p>
</div>